.bodyLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/public/assets/imgs/cave.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}



.botao2 {
  cursor: pointer;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #0e2d5d;
  width: 180px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

