<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Jogo</title>
</head>

<body>
    <select id="ipt_dificuldade">
        <option value="facil">Fácil</option>
        <option value="medio">Médio</option>
        <option value="dificil">Difícil</option>
    </select>
    <button onclick="gerarMapa()">Gerar Mapa</button>
</body>
<script>
    function gerarMapa() {
        const dificuldade = ipt_dificuldade.value;
        let matrizMapa = [];
        let tesouros = 0;
        let bombas = 0;
        let linhas = 0;
        if (dificuldade == 'facil') {
            tesouros = 15;
            bombas = 10;
            linhas = 5;
        } else if (dificuldade == 'medio') {
            tesouros = 28;
            bombas = 21;
            linhas = 7;
        } else if (dificuldade == 'dificil') {
            tesouros = 21;
            bombas = 28;
            linhas = 7;
        }
        let contadorTesouros = 0;
        let contadorBombas = 0;
        for (let i = 1; i <= linhas; i++) {
            let linha = [];
            for (let j = 1; j <= linhas; j++) {
                let numero = Math.floor(Math.random() * (1 - 0 + 1)) + 0;
                if (contadorTesouros == tesouros) {
                    while (numero == 0) {
                        numero = Math.floor(Math.random() * (1 - 0 + 1)) + 0;
                    }
                } else if (contadorBombas == bombas) {
                    while (numero == 1) {
                        numero = Math.floor(Math.random() * (1 - 0 + 1)) + 0;
                    }
                }
                if (numero == 0) {
                    contadorTesouros++;
                } else {
                    contadorBombas++;
                }
                linha.push(numero);
            }
            matrizMapa.push(linha);
        }
        console.log(matrizMapa);
    }


    function enviar() {
      fetch('/inserir_pontuacao', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify
        ({
            acertos: acertosVar,
            erros: errosVar,
         })
      })
      .then(res => res.json())
      .then(data => {
        if (data.sucesso) {
          status.innerHTML = "Pontuação enviada com sucesso!";
        } else {
          status.innerHTML = "Erro ao enviar pontuação.";
        }
      })
      .catch(() => {
        status.innerHTML = "Erro de conexão.";
      });
    }
</script>

</html>